@CHARSET "UTF-8";

.pin-area{
    width:1024px;
    margin: 0px auto;
    position: relative;
}
.pin-left{
    float: left;
    width: 216px;
    position: fixed
}
.pin-left h2{
    text-shadow:1px 1px 1px #CCC;
    margin-bottom: 5px;
    text-align: center;
}
#pins-list, #pins-share, #pins-tags, #pins-buy{
    background-color: white;
    width: 200px !important;
    padding: 8px;
}

#pins-share, #pins-tags, #pins-buy{
    margin-top: 12px;
}
#pins-tags{
    text-align: left;
}

#tags-area{

}

#tags-area ul{

}
#tags-area li{
    float:left;
    height: 20px;
    padding: 0px 6px 5px 0px;
}


#pins-list #pins-thumbs-area{
    height: 240px;
    margin-bottom: 10px;
}
#pins-list #pins-thumbs{
    width:220px;
    height:220px;
}
#pins-list #pins-thumbs a{
    display: inline-block;
    width:62px;
    height: 62px;
    float: left;
    margin: 0px 6px 6px 0px;
    overflow: hidden;
}
#pins-list #pins-thumbs img{
    width:62px;
}

#pins-list #pins-thumbs-paginator{
    display: inline-block;
}

.pin-right{
    float:left;
    width:792px;
    /*margin-left: 16px;*/
    background-color: #FFF;
    /*position: absolute;*/
    margin-left:232px;
    right:0px;
}

.navigator-bottom{
    margin-left: 232px;
    text-align: left;
    margin-top: 20px;
}
.navigator-bottom a{
    margin: 0px 5px;
}

.pin-right a{
    color:#3197CB;
}
.pin-right a:link{
    text-decoration: none;
}
.pin-right a:hover{
    text-decoration: underline;
}

.pin-right .pin-info #pin-desc{
    font-size: 14px;
    margin: 10px 0px;
}
.pin-right .pin-info{
    text-align: left;
    padding:10px 20px;
}
/*.pin-right .pin-info p{
    margin: 0px;
}*/
p#pin_desc{

}
.pin-right .img-frame .float-info{
    position: absolute;
    left:0px;
    right:0px;
    bottom: 0px;
    height: 100px !important;
    height: 120px;
    background-color: #333;
    opacity:0.6;
    color:#FFF;
    padding: 10px;
    display: none;
}
.pin-right .pin-info:hover .float-info{
    display: block;
}

.pin-right .pin-info .img-frame{
    text-align: center;
    position: relative;
}

.pin-right .pin-info .img-frame img{
    max-width: 750px;
}

.pin-right #pin-header{
    border-bottom: 1px solid #F8F3F8;
}

.pin-right #pin-comment{
    border-top: 1px solid #F8F3F8;
}
.pin-right #pin-comment textarea{
    width: 670px !important;
    width: 680px;
}
.pin-right .pin-info .right #pin-comments li{
    margin: 15px 0px;
    border-bottom: 1px dashed #F9F9F9;
    color:gray;
    position: relative;
}
/*.pin-right .pin-info .right #pin-comments li:hover{
    background-color: #f8f8ff;
    color:black;
}*/
.pin-right .pin-info .right #pin-comments li *{
    vertical-align: top;
}
#pin-comments li .c_l{
    float:left;
}
#pin-comments li .c_r{
    float:left;
    margin-left: 12px;
    width:620px;
}

.pins-tag{
    padding: 2px 8px;
    border: 1px solid #CCC;
    color:#000;
}
.pins-tag:hover{
    color:#FFF;
    background-color: #f0616f;
    font-weight: bold;
}
.pins-tag-desc{
    color: rgb(116, 116, 116);
}

.comm-tools{
    z-index: 100;
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
a.comm-delete,a.comm-reply{
    display: inline-block;
    width:18px;
    height: 18px;
    background: transparent url('/images/comment_icon.png');
}
a.comm-delete{
    background-position: -18px 0px;
}
a.comm-delete:hover,a.comm-reply:hover{
    background-position-y:-20px;
}

#map_canvas{
    margin: 20px;
    width:650px;
    height:240px;
}

.pins-collection{
    width:360px;
    margin-top: 10px;
}
.pins-others-like{
    width:600px;
    margin-top: 10px;
}
.pins-collection a,.pins-others-like a{
    float:left;
    width:62px;
    height: 62px;
    display: inline-block;
    overflow: hidden;
    margin: 0px 8px 8px 0px;
}
.pins-collection img{
/*    width:62px;*/
}

#pins-repin-box{
    width:520px;
    text-align: left;
    display: none;
}
#repins-infor-area{
    width:310px;
    position: relative;
}


#pins-repin-box #content{
    padding: 10px;
    background-color: #fff;
}
#pins-repin-box #content #preview{
    width: 160px;
    height: 200px;
    background-color: #676776;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
#pins-repin-box #content #preview img{
    position: absolute;
}


#pins-repin-box #board{
    width:250px;
}

.map-icon{
    display: inline-block;
    width:18px;
    height: 18px;
    background: transparent url('/images/map.png');
}

.buy-icon{
    display: inline-block;
    width:16px;
    height: 16px;
    background: transparent url('/images/buy.png');
}

.imglink:hover .prod-price{
    color: #FFF;
    display: block;
}
.imglink:hover .prod-rrp{
    color: #F00000;
    display: block;
    text-decoration: line-through;
}
.prod-price,.prod-rrp{
    font-size: 16px;
    font-weight: bold;
    display: none;
    position: absolute;
    text-decoration: none;
    z-index: 100;
    left: 15px;
}
.prod-rrp{
    top:10px;
}
.prod-price{
    top:30px;
}

#add-to-cart{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #B0D026;
    height: 42px;
    text-align: center;
    cursor: pointer;
}
#add-to-cart i{

}
#add-to-cart strong{
    vertical-align: middle;
    line-height: 42px;
    font-size: 14px;
    color:#fff;
}
#add-to-cart:hover{
    background-color: #c1d02a;
}

.pin-comment-area{

}

#bottom-bar{
    text-align: right;
    margin: 20px 0px;
}

#bottom-bar span{
    font-size: 14px;
    color: #333;
}

#bottom-bar em{
    font-size: 16px;
    font-weight: bold;
    color: #f00000;
}
